In [1]:
import pandas as pd
import numpy as np

In [2]:
dat=pd.read_csv('TopMat.csv',na_values='NaN')

In [3]:
dat.head()

,Formula,Source,ID,space group,centered,natoms,nelectrons,dim,bandgap,directbandgap,metallicity,ν,wcc
0,ZrZnNi4,COD,1523279,F-43m (216),0,6,56,3,0.0,0.000,0.408,NaN,0
1,ZrZnCu2,COD,1524552,Fm-3m (225),1,4,38,3,0.0,0.015,0.206,(0;000),0
2,ZrZn2,ICSD,653508,Fd-3m (227),1,6,56,3,0.0,0.000,0.890,(0;000),0
3,ZrZn,ICSD,106235,Pm-3m (221),1,2,16,3,0.0,0.022,0.090,(0;111),0
4,ZrZn,COD,1527718,Fm-3m (225),1,2,16,3,0.0,0.085,0.440,(1;000),0

In [4]:
print(dat. columns)

Index(['Formula', 'Source', 'ID', 'space group', 'centered', 'natoms',
       'nelectrons', 'dim', 'bandgap', 'directbandgap', 'metallicity', 'ν',
       'wcc'],
      dtype='object')

In [5]:
dat.shape

(13628, 13)

In [6]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13628 entries, 0 to 13627
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Formula        13628 non-null  object
 1   Source         13628 non-null  object
 2   ID             13628 non-null  int64
 3   space group    13628 non-null  object
 4   centered       13628 non-null  int64
 5   natoms         13628 non-null  int64
 6   nelectrons     13628 non-null  int64
 7   dim            13628 non-null  int64
 8   bandgap        13628 non-null  float64
 9   directbandgap  13628 non-null  float64
 10  metallicity    13628 non-null  float64
 11  ν              12926 non-null  object
 12  wcc            13628 non-null  int64
dtypes: float64(3), int64(6), object(4)
memory usage: 1.4+ MB

In [7]:
n = dat.nunique(axis=0)
print(n)

Formula          10483
Source               2
ID               13627
space group        229
centered             2
natoms              24
nelectrons         167
dim                  4
bandgap           5944
directbandgap     3947
metallicity        995
ν                   16
wcc                  2
dtype: int64