In [1]:
import numpy as np
import pandas as pd

In [3]:
per_tab = pd.read_excel('data/Periodictable_spdf.xlsx')

In [4]:
per_tab.head()

,Element,Symbol,NumberofElectrons,s,p,d,f,sv,pv,dv,...,Phase,Metal,Nonmetal,Metalloid,AtomicRadius,Electronegativity,FirstIonization,Density,NumberofShells,NumberofValence
0,Hydrogen,H,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,gas,NaN,yes,NaN,0.79,2.20,13.5984,0.000090,1.0,1.0
1,Helium,He,2.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,...,gas,NaN,yes,NaN,0.49,NaN,24.5874,0.000179,1.0,NaN
2,Lithium,Li,3.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0,...,solid,yes,NaN,NaN,2.10,0.98,5.3917,0.534000,2.0,1.0
3,Beryllium,Be,4.0,4.0,0.0,0.0,0.0,2.0,0.0,0.0,...,solid,yes,NaN,NaN,1.40,1.57,9.3227,1.850000,2.0,2.0
4,Boron,B,5.0,4.0,1.0,0.0,0.0,2.0,1.0,0.0,...,solid,NaN,NaN,yes,1.20,2.04,8.2980,2.340000,2.0,3.0

In [5]:
per_tab.columns

Index(['Element', 'Symbol', 'NumberofElectrons', 's', 'p', 'd', 'f', 'sv',
       'pv', 'dv', 'fv', 'Group', 'Period', 'E1', 'E2', 'AtomicMass', 'Phase',
       'Metal', 'Nonmetal', 'Metalloid', 'AtomicRadius', 'Electronegativity',
       'FirstIonization', 'Density', 'NumberofShells', 'NumberofValence'],
      dtype='object')

In [7]:
data = pd.read_excel('data/13000_triv_nontriv_spdf_binary.xlsx')

In [8]:
data.columns

Index(['NoE', 'Stoich. Formula', 'SG', 'Point Group', 'Top_Class', 'split',
       'feat_vector', 's_bin', 'p_bin', 'd_bin', 'f_bin', 'S_mean', 'S_var',
       'P_mean', 'P_var', 'D_mean', 'D_var', 'F_mean', 'F_var', 'row_mean',
       'row_var', 'col_mean', 'col_var', 'en_mean', 'en_var', 'rad_mean',
       'rad_var'],
      dtype='object')

In [14]:
data['split'].iloc[1]

['Te', 'Se', 'O', 'O', 'O', 'O']

In [13]:
import ast
for i in range(len(data)):
    data['split'].iloc[i] = ast.literal_eval(data['split'].iloc[i])

/home/hp/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [15]:
E1_dict = dict(zip(per_tab['Symbol'],per_tab['E1']))
E2_dict = dict(zip(per_tab['Symbol'],per_tab['E2']))

In [37]:
E2_dict

{'H': 0.0,
 'He': 0.0,
 'Li': -5.29969,
 'Be': -7.330097,
 'B': -5.667302,
 'C': -7.426173,
 'N': -9.324772,
 'O': -11.36567,
 'F': -6.724746,
 'Ne': -15.83732,
 'Na': -6.180429,
 'Mg': -6.180429,
 'Al': -4.244027,
 'Si': -5.508487,
 'P': -6.870801,
 'S': -8.368146,
 'Cl': -9.965476,
 'Ar': -11.64861,
 'K': 4.005134,
 'Ca': -4.911667,
 'Sc': -5.368593,
 'Ti': -5.368593,
 'V': -5.719559,
 'Cr': -5.719559,
 'Mn': -6.555688,
 'Fe': -6.803502,
 'Co': -7.043143,
 'Ni': -7.276755,
 'Cu': -6.705124,
 'Zn': -6.705124,
 'Ga': -4.353655,
 'Ge': -5.438587,
 'As': -6.440955,
 'Se': -7.677669,
 'Br': -8.969009,
 'Kr': -10.31129,
 'Rb': -3.796175,
 'Sr': -4.595368,
 'Y': -5.173711,
 'Zr': -5.55138,
 'Nb': -5.38818,
 'Mo': -5.577986,
 'Tc': -5.751501,
 'Ru': -5.908857,
 'Rh': -6.0516,
 'Pd': -5.603678,
 'Ag': -6.306739,
 'Cd': -7.260586,
 'In': -4.22339,
 'Sn': -5.181381,
 'Sb': -5.760442,
 'Te': -6.784606,
 'I': -7.846537,
 'Xe': -7.846537,
 'Cs': -3.483637,
 'Ba': -4.186351,
 'La': -4.634328,
 'Ce': -4.417023,
 'Pr': -4.472053,
 'Nd': -4.534108,
 'Pm': -4.590754,
 'Sm': -4.654801,
 'Eu': -4.712636,
 'Gd': -5.173732,
 'Tb': -5.250394,
 'Dy': -4.895679,
 'Ho': -4.954053,
 'Er': -5.012355,
 'Tm': -5.012355,
 'Yb': -5.012355,
 'Lu': -5.773917,
 'Hf': -6.19239,
 'Ta': -6.533825,
 'W': -7.119573,
 'Re': -7.119573,
 'Os': -7.386652,
 'Ir': -5.04557,
 'Pt': -7.259226,
 'Au': 7.429517,
 'Hg': -8.317225,
 'Tl': -5.392322,
 'Pb': -5.392322,
 'Bi': -5.308428,
 'Po': -5.957323,
 'At': -6.894269,
 'Rn': -7.864777,
 'Fr': -3.551962,
 'Ra': -4.247925,
 'Ac': -4.837262,
 'Th': -4.837262,
 'Pa': -2.117262,
 'U': -3.301538,
 'Np': -4.837262,
 'Pu': -1.941537,
 'Am': -1.669537,
 'Cm': -1.669537,
 'Bk': -1.683137,
 'Cf': -2.893538,
 'Es': nan,
 'Fm': nan,
 'Md': nan,
 'No': nan,
 'Lr': nan,
 'Rf': nan,
 'Db': nan,
 'Sg': nan,
 'Bh': nan,
 'Hs': nan,
 'Mt': nan,
 'Ds': nan,
 'Rg': nan,
 'Cn': nan,
 'Nh': nan,
 'Fl': nan,
 'Mc': nan,
 'Lv': nan,
 'Ts': nan,
 'Og': nan}

In [38]:
E1_dict['D'] = -13.6
E2_dict['D'] = 0

In [42]:
import sys

In [49]:
min_list = []
for i in range(len(data)):
    compound = data['split'].iloc[i]
    min_ = sys.maxsize-1
    for i in range(len(compound)):
        for j in range(len(compound)):
            if i!=j:
                temp1 = abs(E1_dict[compound[i]] - E1_dict[compound[j]])
                temp2 = abs(E2_dict[compound[i]] - E1_dict[compound[j]])
                temp3 = abs(E2_dict[compound[i]] - E2_dict[compound[j]])
                #temp1 = E1_dict[compound[i]] - E1_dict[compound[j]]
                if temp1==0:
                    temp1 = sys.maxsize-1
                if temp2==0:
                    temp2 = sys.maxsize-1
                if temp3==0:
                    temp3 = sys.maxsize-1
                
                min_ = min([temp1,temp2,temp3,min_])
    min_list.append(min_)

In [51]:
data['onsite_en'] = min_list

In [53]:
data.to_excel('data/13000_triv_nontriv_spdf_binary.xlsx')

In [16]:
dat = [[10, 15, 12, 9 ,8],
[7, 6, 13, 16, 5],
[12, 8, 10, 13, 15]]

In [19]:
mu = sum([x for sublist in dat for x in sublist])

In [28]:
mu=mu/15

In [21]:
y1 = np.mean(dat[0])
y2 = np.mean(dat[1])
y3 = np.mean(dat[2])

In [22]:
print(y1,y2,y3)

10.8 9.4 11.6

In [31]:
(sum((np.array(dat[0]) - y1)**2) + sum((np.array(dat[1]) - y2)**2) + sum((np.array(dat[2]) - y3)**2))/12

12.766666666666666

In [30]:
(np.array(dat[0]) - y1)

array([-0.8,  4.2,  1.2, -1.8, -2.8])

In [29]:
(y1-mu)**2 + (y2-mu)**2 + (y3-mu)**2

2.4799999999999986

In [32]:
6.19/12.76

0.4851097178683386